<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="me.db.manager" />
    <context:component-scan base-package="me.db.query" />
    <context:component-scan base-package="me.service" />

    <bean id="payClassificationJsonParser" class="me.service.JsonParserChain"/>
    <bean id="payByJsonParser" class="me.service.JsonParserChain"/>
    <bean id="payScheduleJsonParser" class="me.service.JsonParserChain"/>

</beans>